{% extends 'base.html'%}

{% block content %}
<h1>Deneyimler</h1>
<body>
    <br/>
    <br/>
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="">Hayallerinizi ertelemeyin</h5>
          <p>En değerli olgu zamandır. Zamanınıza fayda sağladığımız için mutluyuz.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="">Konaklamam</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'konaklamaYerleri'%}" style="color:black;">Konaklama Yerleri</a></li>
            <li><a href="{% url 'deneyimler'%}" style="color:black;">Deneyimler</a></li>
            <li><a href="{% url 'cevrimiciDeneyimler'%}" style="color:black;">Çevrim içi deneyimler</a></li>
            <li><a href="{%url 'evSahibiOlun'%}" style="color:black;">Ev sahibi olun</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="">Yardım</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'yardim1'%}" style="color:black;">Başlarken</a></li>
            <li><a href="{% url 'yardim2'%}" style="color:black;">Hesabınıza Erişim</a></li>
            <li><a href="{% url 'yardim3'%}" style="color:black;">Rezervasyon Hakkında</a></li>
            <li><a href="{% url 'yardim4'%}" style="color:black;">Ev sahipliği hakkında</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3" >© 2022 Copyright:
      <a href="/" style="color:black;"> KONAKLAMAM</a>
    </div>
  </footer>
</body>
{% endblock content %}