{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="{% static 'css/yardim1.css'%}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="imgC"><a href="{% url 'konaklamaYerleri'%}"><img src="../static/img/car.png" style="height:100%;width:100%"/></a></div>     
            <p class="pD">Yardım Merkezi</p>           
          </nav>
          <br/>
          <br/>
          <div class="container">
            <div class="row">
                <div class="col-md-7">
                  <h3 class="baslik2">Hesabınıza Erişim</h3>
                  <br/>
                  <br/>
                  <p>Hesabınıza giremiyor musunuz? Profilinizi güncellemek veya hesabınızı düzenlemek mi istiyorsunuz? Bunlar sorun değil. Parolanızı nasıl sıfırlayacağınızı ve hesabınıza nasıl gireceğinizi Oturum Açın kısmından gerçekleştirebilirsiniz.</p>
                  <br/>
                  <br/>
                  <h5>Hesap Sorun Giderme</h5>
                  <br/>
                  <p>Hesabınıza giriş yaparken sorun yaşıyorsanız parolanızı değişmeyi deneyin. İki Konaklamam hesabınız varsa bunları birleştiremeyiz. Birinde evsahibi diğerinde, konaklamacı kalmanız gerekiyor.</p>
              </div>
                <div class="col-md-5">
                    <br/>
                  <img src="../static/img/gezgin6.jpg" style="height:300px;width:100%;border-radius:10px;"/>
                </div>
            </div>
          </div>
          <br/>
    <br/>
    <footer class="page-footer font-small blue pt-4">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="">Hayallerinizi ertelemeyin</h5>
            <p>En değerli olgu zamandır. Zamanınıza fayda sağladığımız için mutluyuz.</p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="">Konaklamam</h5>
            <ul class="list-unstyled">
              <li><a href="{% url 'konaklamaYerleri'%}" style="color:black;">Konaklama Yerleri</a></li>
              <li><a href="{% url 'deneyimler'%}" style="color:black;">Deneyimler</a></li>
              <li><a href="{% url 'cevrimiciDeneyimler'%}" style="color:black;">Çevrim içi deneyimler</a></li>
              <li><a href="{%url 'evSahibiOlun'%}" style="color:black;">Ev sahibi olun</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="">Yardım</h5>
            <ul class="list-unstyled">
              <li><a href="{% url 'yardim1'%}" style="color:black;">Başlarken</a></li>
              <li><a href="{% url 'yardim2'%}" style="color:black;">Hesabınıza Erişim</a></li>
              <li><a href="{% url 'yardim3'%}" style="color:black;">Rezervasyon Hakkında</a></li>
              <li><a href="{% url 'yardim4'%}" style="color:black;">Ev sahipliği hakkında</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3" >© 2022 Copyright:
        <a href="/" style="color:black;"> KONAKLAMAM</a>
      </div>
    </footer>
    </body>

</html>